{% extends 'base.html' %}

{% block content %}
    <form method="POST">{% csrf_token %}
        <h1>Question {{ question_no }}/{{ questions_count }}</h1>
        {{ question }}<hr/>
        <div>
            {% for answer in answers %}
            <p><input type="{{ input_type }}" name="answer" id="answer_{{ forloop.couter }}" value="{{ answer.id }}">
            <label for="answer_{{ forloop.couter }}">{{ answer.answer_text }} ({{ answer.id }})</label></p>
            {% endfor %}
        </div>
        {% if error_message %}<div><p><strong>{{ error_message }}</strong></p></div>{% endif %}
        <button type="submit">Next</button>
    </form>
{% endblock %}
